
<h4>
  ブロックした要素一覧
</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        ドメイン
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: :prohibition, collection: @prohibitions.select{|p|p.domain?} %>
  </tbody>

  <thead>
    <tr>
      <th>
        タイトル
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: :prohibition, collection: @prohibitions.select{|p|p.title?} %>
  </tbody>
</table>


<%= form_for :prohibition  do |f| %>
  <h4>
    ブロック要素の追加
  </h4>
  <div class="form-group">
    <%= f.label :prohibition_type, '禁止タイプ' %>:
    <%= f.select :prohibition_type, [['URLの一部', :domain],['タイトルの一部', :title]], {} , {id: 'prohibition_type', class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :word, '禁止ワードまたは禁止ドメイン' %>:
    <%= f.text_field :word, id: :input_word, class: 'form-control' %>
  </div>

  <%= f.submit 'add' %>
<% end %>
