<!DOCTYPE html>
<html>
  <head>
    <title>Hateblocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if @user %>
    <%= link_to '禁止ワード管理', prohibitions_path %>
  <% else %>
    <%= form_for(:sessions, url: :sessions) do |f| %>
      <p><%= f.submit "Login" %></p>
    <% end %>
  <% end %>

  <%= yield %>
  </body>
</html>
